<div class="formlist">
  <h2>
    sign_up
  </h2>
  <form (ngSubmit)="submitSignUp($event)" #signUpForm="ngForm">
    <input
      type="text"
      [(ngModel)]="account.name"
      #name="ngModel"
      placeholder="username"
      required autofocus
    >
    <input
      type="email"
      [(ngModel)]="account.email"
      #email="ngModel"
      placeholder="email"
    >
    <input
      type="password"
      [(ngModel)]="account.password"
      #password="ngModel"
      placeholder="password"
      required autofocus
    >
    <input
      type="password"
      [(ngModel)]="account.passwordConfirmation"
      #confirmPassword="ngModel"
      placeholder="confirm password"
      required autofocus
    >
    <div class="margin-10">
      <button
        type="submit"
        [disabled]="!signUpForm.form.valid"
      >
        sign up
      </button>
    </div>
  </form>
  <a router-link to="account/sign_in">alreday have email</a>
</div>